{% extends 'base.html.twig' %}

{% block body %}
    <div class="row my-3">
        <div class="col text-center">
            <a href="{{ path('brewers') }}" class="btn btn-outline-primary">Brewers</a>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-lg-3">
            <input type="text" class="form-control" placeholder="Name" id="nameInput">
        </div>
        <div class="col-lg-3">
            <select class="custom-select select-2" id="brewersSelect" disabled>
                <option value="0">Loading...</option>
            </select>
        </div>
        <div class="col-lg-2">
            <select class="custom-select select-2" id="typesSelect" disabled>
                <option value="0">Loading...</option>
            </select>
        </div>
        <div class="col-lg-2">
            <select class="custom-select select-2" id="countriesSelect" disabled>
                <option value="0">Loading...</option>
            </select>
        </div>
        <div class="col-lg-1">
            <input type="number" min="0" class="form-control" placeholder="Price from" id="priceFromInput">
        </div>
        <div class="col-lg-1">
            <input type="number" min="0" class="form-control" placeholder="Price to" id="priceToInput">
        </div>

    </div>
    <div class="row">
        <div class="col">
            <table id="beers" class="table">
                <thead>
                <tr>
                    <th scope="col-3">#</th>
                    <th scope="col-3">Name</th>
                    <th scope="col-2">Brewer</th>
                    <th scope="col-2">Type</th>
                    <th scope="col-2">Country</th>
                    <th scope="col-2">Price</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul id="beersPagination" class="pagination">
        </ul>
    </nav>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/beers.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.select-2').select2({
                'theme': 'bootstrap4'
            });
        });
        var beers = new Beers();
        let searchParams = new URLSearchParams(window.location.search);
        searchParams.forEach(function(value, key){
            beers.setParameter(key, value);
        });
        beers.setBeersUrl('{{ path('api_beers') }}');
        beers.init();
    </script>
{% endblock %}