{% extends 'base.html.twig' %}

{% block body %}
    <div class="row my-3">
        <div class="col text-center">
            <a href="{{ path('beers') }}" class="btn btn-outline-primary">Beers</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table id="brewers" class="table">
                <thead>
                <tr>
                    <th scope="col-3">Id</th>
                    <th scope="col-3">Brewer</th>
                    <th scope="col-3">Number of beers</th>
                    <th scope="col-3"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="4" class="text-center">Loading...</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul id="beersPagination" class="pagination">
        </ul>
    </nav>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/brewers.js') }}"></script>
    <script type="text/javascript">
        var brewers = new Brewers();
        brewers.init();
    </script>
{% endblock %}